<!DOCTYPE html>
<html lang="en" >
<!-- begin::Head -->
<head>
<meta charset="utf-8" />
<title>GREYRALLY</title>
<meta name="description" content="Latest updates and statistic charts">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
<link href="/css/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
<link href="/css/suggestion-box.css" rel="stylesheet" type="text/css">

<link href="/css/style.bundle.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/css/globalStyles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
    crossorigin="anonymous">

<link rel="shortcut icon" href="/img/favicon.png" sizes="16*16" />
</head>
<!-- end::Head -->

<!-- end::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">

<!-- begin::Header -->
<% include ../header.ejs %>
<!-- end::Header -->

<!-- begin::Body -->
<input type="hidden" id="tab" value="<%= tabIndex %>">
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
  <!-- BEGIN: Left Aside -->
  <button class="m-aside-left-close m-aside-left-close--skin-dark" id="m_aside_left_close_btn"><i class="la la-close"></i></button>

  <!-- END: Left Aside -->
 <div class="modal fade" id="auctionRatingModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog bid-popup-main-custom-width" role="document">
    <div class="modal-content bid-popup-main">
      <div class="modal-header">
        <h4>Rating</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="auctionRatingForm" method="POST" autocomplete="off">
        <div class="modal-body rating-check">
          <div class="radio-button">
            <span>1.</span>&nbsp;<input class="form-check-input" type="radio" name="rating" id="rating1" value="1" checked>
            <label class="form-check-label" for="rating1">
              <img src="/img/Rating1_10x10.png">
            </label>
          </div>
          <div class="radio-button">
            <span>2.</span>&nbsp;<input class="form-check-input" type="radio" name="rating" id="rating2" value="2">
            <label class="form-check-label" for="rating2">
              <img src="/img/Rating1_10x10.png">
              <img src="/img/Rating2_10x10.png">
            </label>
          </div>
          <div class="radio-button">
            <span>3.</span>&nbsp;<input class="form-check-input" type="radio" name="rating" id="rating3" value="3">
            <label class="form-check-label" for="rating3">
              <img src="/img/Rating1_10x10.png">
              <img src="/img/Rating2_10x10.png">
              <img src="/img/Rating3_10x10.png">
            </label>
          </div>
          <div class="radio-button">
            <span>4.</span>&nbsp;<input class="form-check-input" type="radio" name="rating" id="rating4" value="4">
            <label class="form-check-label" for="rating4">
              <img src="/img/Rating1_10x10.png">
              <img src="/img/Rating2_10x10.png">
              <img src="/img/Rating3_10x10.png">
              <img src="/img/Rating4_10x10.png">
            </label>
          </div>
          <div class="radio-button">
            <span>5.</span>&nbsp;<input class="form-check-input" type="radio" name="rating" id="rating5" value="5">
            <label class="form-check-label" for="rating5">
              <img src="/img/Rating1_10x10.png">
              <img src="/img/Rating2_10x10.png">
              <img src="/img/Rating3_10x10.png">
              <img src="/img/Rating4_10x10.png">
              <img src="/img/Rating5_10x10.png">
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" style="background-color:#F7921A">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
  <div class="m-grid__item m-grid__item--fluid m-wrapper">

    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
      <div class="align-items-center">
        <div class="row" >
          <div class="col-sm-6" style="display:flex">
            <h3 class="m-subheader__title ">Transaction History</h3>
            <div class="nav navbar-nav navbar-right transaction-drop-down">
              <div id="fat-menu" class="dropdown open"> <a href="#" class="dropdown-toggle main" id="drop3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> Bitcoin <span class="caret"></span> </a>
                <!-- <ul class="dropdown-menu" aria-labelledby="drop3">
                  <li><a href="#">test-1</a></li>
                  <li><a href="#">test-2</a></li>
                  <li><a href="#">test-3</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">test-4</a></li>
                </ul> -->
              </div>
            </div>
          </div>
          <div class="col-sm-6 bs-example bs-example-tabs pull-right custom-tab-transaction" data-example-id="togglable-tabs">
            <ul class="nav nav-tabs" id="myTabs" role="tablist">
              <% if (tabIndex == "sold") { %>
                <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Sold</a></li>
              <% } else { %>
                <li role="presentation" class=""><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Sold</a></li>
              <% } %>
              <% if (tabIndex == "bought") { %>
                <li role="presentation" class="active"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Bought</a></li>
              <% } else { %>
                <li role="presentation" class=""><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Bought</a></li>
              <% } %>
              <% if (tabIndex == "cashouts") { %>
                <li role="presentation" class="active"> <a href="#dropdown1" role="tab" id="dropdown1-tab" data-toggle="tab" aria-controls="dropdown1">Cashouts</a></li>
              <% } else { %>
                <li role="presentation" class=""> <a href="#dropdown1" role="tab" id="dropdown1-tab" data-toggle="tab" aria-controls="dropdown1">Cashouts</a></li>
              <% } %>
              <!--  <li role="presentation" class=""> <a href="#dropdown2" role="tab" id="dropdown2-tab" data-toggle="tab" aria-controls="dropdown2">@mdo</a>></li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- END: Subheader -->

    <div class="m-content">
      <!--Begin::Main Portlet-->
      <div class="row">
        <div class="col-xl-12 col-sm-12">
          <!--begin:: Widgets/Audit Log-->
          <div class="m-portlet m-portlet--full-height list-main">
            <div class="m-portlet__body ">
              <div class="tab-content followed-main">
                <div class="resposive-table">
                  <div class="tab-content" id="myTabContent">
                    <% if (tabIndex == "sold") { %>
                      <div class="tab-pane active in" role="tabpanel" id="home" aria-labelledby="home-tab">
                    <% } else { %>
                      <div class="tab-pane fade" role="tabpanel" id="home" aria-labelledby="home-tab">
                    <% } %>
                      <div align="center">
                        <h4>Sold Out</h4>
                      </div>
                      <div class="table-responsive">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <th>Type</th>
                              <th>Auction Name</th>
                              <th>Buyer</th>
                              <th><span style="color:#F7921A; font-weight:400;">
                              <i class="fab fa-bitcoin" aria-hidden="true"></i></span>Amount</th>
                              <th>Block Confirms</th>
                              <th>Date</th>
                              <th>Status</th>
                              <th>Track</th>
                            </tr>
                            <% if (soldAucions.length) { %>
                            <% for(let i=0; i<soldAucions.length; i++) { %>
                            <tr>
                              <td>Sale</td>
                              <td class="action-name"><a><%= soldAucions[i].auction %></a></td>
                              <td><a href="/users/<%= user %>/buyer/<%= soldAucions[i].buyer %>"><%= soldAucions[i].buyer %></a></td>
                              <td style="word-break: break-all;"><span><%= soldAucions[i].amount %></span></td>
                              <% if (soldAucions[i].transactionInfo.tx.confirmations < 6) { %>
                              <td class="<%= soldAucions[i].transactionInfo.tx.hash %>">
                                <%= soldAucions[i].transactionInfo.tx.confirmations %>/6&nbsp;
                                <a id="<%= soldAucions[i].transactionInfo.tx.hash %>" name="<%= soldAucions[i].auction %>" href="javascript:void(0);" onclick="updateConfirmations(this);" >Update</a>&nbsp;&nbsp;<img id="<%= soldAucions[i].transactionInfo.tx.hash %>loadingGif" src="/img/Circular_loading.gif" style="height: 20px; width: 20px; display: none;">
                              </td>
                              <% } else {%>
                              <td>6/6</td>
                              <% } %>
                              <td><%= soldAucions[i].createdAt %></td>
                              <% if (soldAucions[i].transactionInfo.tx.confirmations > 6) { %>
                                <td id="confirm<%= soldAucions[i].auction %>">Confirm</td>
                              <% } else {%>
                                <td id="confirm<%= soldAucions[i].auction %>">Pending</td>
                              <% } %>

                              <% if (soldAucions[i].transactionInfo.tx.confirmations < 6) { %>
                              <td><a id="<%= soldAucions[i].auction %>" style="color: #52acf5;"  href="/users/<%=user%>/transactions/<%=soldAucions[i].transactionInfo.tx.hash%>/info">Tracks</a></td>
                              <% } else {%>
                              <td><a style="color: #52acf5;" href="https://live.blockcypher.com/btc/tx/<%=soldAucions[i].transactionInfo.tx.hash%>">Track</a></td>
                              <% } %>
                            </tr>
                            <% } %>
                            <% } else { %>
                            <tr>
                              <td></td>
                              <td align="center"><b>
                                <h6>You have no cashouts less than 30 days old.</h6>
                                </b></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <% if (tabIndex == "bought") { %>
                      <div class="tab-pane active in" role="tabpanel" id="profile" aria-labelledby="profile-tab">
                    <% } else { %>
                      <div class="tab-pane fade" role="tabpanel" id="profile" aria-labelledby="profile-tab">
                    <% } %>
                      <div align="center">
                        <h4>Bought</h4>
                      </div>
                      <div class="table-responsive">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <th>Type</th>
                              <th>Auction Name</th>
                              <th>Seller</th>
                              <th><span style="color:#F7921A; font-weight:400;">
                              <i class="fab fa-bitcoin" aria-hidden="true"></i></span>Amount</th>
                              <th>Block Confirms</th>
                              <th>Date</th>
                              <th>Status</th>
                              <th>Track</th>
                              <th>Your Rating</th>
                            </tr>
                            <% if (boughtAuctions.length) { %>
                            <% for(let i=0; i<boughtAuctions.length; i++) { %>
                            <tr>
                              <td>Purchase</td>
                              <td class="action-name"><a><%= boughtAuctions[i].auction %></a></td>
                              <td><a href="/users/<%= user %>/seller/<%= boughtAuctions[i].seller %>"><%= boughtAuctions[i].seller %></a></td>
                              <td style="word-break: break-all;"><span><%= boughtAuctions[i].amount %></span></td>
                              <% if (boughtAuctions[i].transactionInfo.tx.confirmations < 6) { %>
                              <td class="<%= boughtAuctions[i].transactionInfo.tx.hash %>">
                                <%= boughtAuctions[i].transactionInfo.tx.confirmations %>/6
                                &nbsp;<a id="<%= boughtAuctions[i].transactionInfo.tx.hash %>" name="<%= boughtAuctions[i].auction %>" href="javascript:void(0);" onclick="updateConfirmations(this)" >Update</a>&nbsp;&nbsp;<img id="<%= boughtAuctions[i].transactionInfo.tx.hash %>loadingGif" src="/img/Circular_loading.gif" style="height: 20px; width: 20px; display: none;">
                              </td>
                              <% } else {%>
                              <td>6/6</td>
                              <% } %>
                              <td><%= boughtAuctions[i].createdAt %></td>
                              <% if (boughtAuctions[i].transactionInfo.tx.confirmations > 6) { %>
                                <td id="confirm<%= boughtAuctions[i].auction %>">Confirm</td>

                              <% } else {%>
                                <td id="confirm<%= boughtAuctions[i].auction %>">Pending</td>
                              <% } %>


                              <% if (boughtAuctions[i].transactionInfo.tx.confirmations < 6) { %>
                              <td><a id="<%= boughtAuctions[i].auction %>" style="color: #52acf5;" href="/users/<%=user%>/transactions/<%=boughtAuctions[i].transactionInfo.tx.hash%>/info">Track</a></td>
                              <% } else {%>
                              <td><a style="color: #52acf5;" href="https://live.blockcypher.com/btc/tx/<%=boughtAuctions[i].transactionInfo.tx.hash%>">Track</a></td>
                              <% } %>

                              <td>
                                <% if (boughtAuctions[i].soldOut == 0 ) {
                                  %> Sale Pending <%
                                } else {
                                  if (boughtAuctions[i].buyerRating == 0) { %>
                                  <!-- <a href="">Rate User</a> -->
                                  <a id="/users/<%=user%>/auctions/<%= boughtAuctions[i].auction %>/rating" data-toggle="modal" data-target="#auctionRatingModel" href="javascript :void(0);" onclick="setAuctionRatingPath(this)">Add Rating</a>
                                <% } else { %>
                                  <% for(let j=1; j <= 5; j++) {
                                      if ( j <= boughtAuctions[i].buyerRating ) { %>
                                      <img src="/img/Rating<%= j %>_10x10.png">
                                      <% } else { %>
                                      <img src="/img/Rating0_10x10.png">
                                <% }}}} %>
                              </td>
                            </tr>
                            <% } %>
                            <% } else { %>
                            <tr>
                              <td></td>
                              <td align="center"><b>
                                <h6>You have no cashouts less than 30 days old.</h6>
                                </b></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <% if (tabIndex == "cashouts") { %>
                      <div class="tab-pane active in" role="tabpanel" id="dropdown1" aria-labelledby="dropdown1-tab">
                    <% } else { %>
                      <div class="tab-pane fade" role="tabpanel" id="dropdown1" aria-labelledby="dropdown1-tab">
                    <% } %>
                      <div align="center">
                        <h4>Cashouts</h4>
                      </div>
                      <div class="table-responsive">
                      <table style="table-layout: auto;" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                          <tr>
                            <th>Type</th>
                            <th>To Address</th>
                            <th><span style="color:#F7921A; font-weight:400;">
                            <i class="fab fa-bitcoin" aria-hidden="true"></i></span>Amount</th>
                            <th>Block Confirms</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Track</th>
                          </tr>
                          <% if (cashouts.length) { %>
                          <% for(let i=0; i<cashouts.length; i++) { %>
                          <tr>
                            <td>Withdrawal To</td>
                            <td><%= cashouts[i].toBTC %></td>
                            <td style="word-break: break-all;"><span><%= cashouts[i].amount %></span></td>
                            <% if (cashouts[i].transactionInfo.tx.confirmations < 6) { %>
                            <td class="<%= cashouts[i].transactionInfo.tx.hash %>">
                              <%= cashouts[i].transactionInfo.tx.confirmations %>/6
                              &nbsp;<a id="<%= cashouts[i].transactionInfo.tx.hash %>" name="<%= cashouts[i].transactionInfo.tx.hash %>" href="javascript:void(0);" onclick="updateConfirmations(this)" >Update</a>&nbsp;&nbsp;<img id="<%= cashouts[i].transactionInfo.tx.hash %>loadingGif" src="/img/Circular_loading.gif" style="height: 20px; width: 20px; display: none;">
                            </td>
                            <% } else { %>
                            <td>6/6</td>
                            <% } %>
                            <td><%= cashouts[i].createdAt %></td>
                            <% if (cashouts[i].transactionInfo.tx.confirmations > 6) { %>

                              <td id="confirm<%=cashouts[i].transactionInfo.tx.hash%>">Confirm</td>
                            <% } else { %>
                              <td id="confirm<%=cashouts[i].transactionInfo.tx.hash%>">Pending</td>
                            <% } %>

                            <% if (cashouts[i].transactionInfo.tx.confirmations < 6) { %>
                            <td><a id="<%=cashouts[i].transactionInfo.tx.hash%>" style="color: #52acf5;" href="/users/<%=user%>/transactions/<%=cashouts[i].transactionInfo.tx.hash%>/info">Track</a></td>
                            <% } else { %>
                            <td><a style="color: #52acf5;" href="https://live.blockcypher.com/btc/tx/<%=cashouts[i].transactionInfo.tx.hash%>">Track</a></td>
                            <% } %>

                          </tr>
                          <% } %>
                          <% } else { %>
                          <tr>
                            <td></td>
                            <td align="center"><b>
                              <h6>You have no cashouts less than 30 days old.</h6>
                              </b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <% } %>
                        </tbody>
                      </table>
                    </div>
                    <!--<div class="tab-pane fade" role="tabpanel" id="dropdown2" aria-labelledby="dropdown2-tab">
                       <table width="100%" border="0" cellspacing="0" cellpadding="0">

                     <tbody><tr>
    <th>Status</th>
    <th>Auction Name</th>
    <th><span><i class="fa fa-btc" aria-hidden="true"></i></span>Amount</th>
    <th>Views</th>
    <th>Date</th>
  </tr>

  <tr>
    <td>Sale Pending</td>
    <td><a href="#"> This is the title of my auction</a></td>
    <td><span>0.010</span></td>
    <td>1,042</td>
    <td>2018-01-02</td>
  </tr>
  <tr>
    <td>Live</td>
    <td><a href="#"> Short Title.</a></td>
    <td><span>0.00421</span></td>
    <td>654</td>
    <td>2018-01-02</td>
  </tr>
  <tr>
    <td>Sold</td>
    <td>This is a title and it can be long<br>
two lines may be necessary</td>
    <td><span>0.400</span></td>
    <td>13,456</td>
    <td>2018-01-02</td>
  </tr>
  <tr>
    <td>Expired</td>
    <td>Short Title</td>
    <td><span>N/A</span></td>
    <td>35</td>
    <td>2018-01-02</td>
  </tr>

</tbody></table>
                    </div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<% include ../footer.ejs %>
</div>

<!-- begin::Footer -->
<!-- end::Footer -->
<!-- end:: Page -->

<!-- begin::Scroll Top -->
<!-- <div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500" data-scroll-speed="300"> <i class="fa fa-angle-up"></i> </div> -->
<!-- end::Scroll Top --> <!-- begin::Quick Nav -->

<!--begin::Base Scripts -->
<script src="/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/vendors.bundle.js" type="text/javascript"></script>
<script src="/js/scripts.bundle.js" type="text/javascript"></script>
<script src="/js/common/common.js" type="text/javascript"></script>
<script src="/js/fontawesome-all.js" type="text/javascript"></script>

<!--end::Base Scripts -->
<script type="text/javascript">
  $( document ).ready(function() {
    var newUrl = window.location.origin +"/users/"+$('#userId').text()+ "/transactions/history/"+ $("#tab").val();
    window.history.replaceState("", "", newUrl);
  });
  $("#home-tab").click(function () {
    var newUrl = window.location.origin +"/users/"+$('#userId').text()+ "/transactions/history/sold";
    window.history.replaceState("", "", newUrl);
  })
  $("#profile-tab").click(function () {
    var newUrl = window.location.origin +"/users/"+$('#userId').text()+ "/transactions/history/bought";
    window.history.replaceState("", "", newUrl);
  })
  $("#dropdown1-tab").click(function () {
    var newUrl = window.location.origin +"/users/"+$('#userId').text()+ "/transactions/history/cashouts";
    window.history.replaceState("", "", newUrl);
  })
</script>
<script type="text/javascript">
  var auctionRatingPath = "";
  function updateConfirmations(obj) {
    $("#" + obj.id + "loadingGif").css({"display" : "inline-block"});
    $.ajax({
      type: "POST",
      url: "/users/"+$("#userId").text()+"/updateConfirmations",
      data: {
        hash: obj.id,
      },
      success: function(response) {
        if (response.Confirmations > 6) {
          let aa = `6/6`;
          $( "td."+obj.id ).html(aa);

          let newTrack = "https://live.blockcypher.com/btc/tx/"+obj.id+"/"
          $("#"+obj.name).attr("href", newTrack);
          $("#confirm"+obj.name).text("Confirm");
        } else {
          let aa = response.Confirmations+`/6&nbsp;<a id="`+ obj.id +`" href="javascript:void(0);" onclick="updateConfirmations(this)" >Update</a>`;
        $( "td."+obj.id ).html(aa);
        $("#" + obj.id + "loadingGif").css({"display" : "none"});
        }
      }
    });
  }
  function setAuctionRatingPath(obj) {
    auctionRatingPath = obj.id;
  }
  $("#auctionRatingForm").submit(function(e){
    $(this).attr("action" , auctionRatingPath);
    auctionRatingPath = "";
  });
</script>
</body>
<!-- end::Body -->
</html>
