<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<style type="text/css">
	.logo {
    margin: auto;
    text-align: center;
    position: relative;
		width:100%;
    background-color:#444444;
	}
	.title {
		margin: auto;
    text-align: center;
    position: relative;
	}
	.body {
		margin: auto;
		text-align: center;
		position: relative;
		font-size: large;
	}
	.footer {
		margin: auto;
		text-align: center;
		position: relative;
		width:100%;
    background-color:#444444;
	}
	</style>
</head>
<div class="logo">
  <span class="img_1" ><img src="cid:greyrallyLogo" alt="Logo"></span>
</div>
<div class="title">
	<h1>Congratulations!</h1>
</div>
<div class="body">
	<div class="wrap">
		Your <strong><%= auction_name %></strong> auction sold at a price of <font color="green"><%= final_bid_amount %></font> <%= crypto_type %>! <br />
		<br>
		<font color="green"><%= final_bid_amount %></font> <%= crypto_type %> has already been added to your GREYRALLY wallet. <br />
		<br>
		You can cash out your GREYRALLY wallet at anytime by selecting the "cash out" option under "My Wallet". <br />
		<br>
	</div>
</div>
<div class="footer">
	<font color="#fefefe">
	<em>Copyright &copy; 2018 <a href="#"><font color="#fefefe">GREYRALLY</a>, All rights reserved.</em><br />
	<br>
	Want to change how you receive these emails?<br />
	You can change <a href="#"><font color="#fefefe">your preferences</a> under account settings.
</div>
</html>
 -->

 <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<style type="text/css">

body {  font-family: 'Roboto', sans-serif;  font-size: 16px;  font-weight: 300; color: #888;  line-height: 30px;  margin: 0 auto; position: relative;}
.main { width: 320px; margin: 40px auto;  background: #282B3B;  padding: 10px;}
.logo { text-align: left; margin-bottom: 30px;  margin-top: 20px; width: 100%;  float: left}
.logo a { color: #e1e1e1; font-size: 22px;  display: block; line-height: 18px;  text-decoration: none;}
.content {  background: #fff; padding: 30px;  float: left;  text-align: center;}
.content h2 { font-size: 20px;  color: #282B3B; margin: 0 0 10px 0; padding: 0;}
.content a.email_logo { margin-bottom: 10px;  display: inline-block;  margin-top: 10px;}
.content p.body_text {  margin-bottom: 10px;  display: inline-block;  margin-top: 10px; font-size: 14px;  color: #000;  line-height: 20px;  font-weight: 500;}
.content p.body_text a.just_click { font-size: 14px;  color: #282B3B; line-height: 20px;  font-weight: 500; text-decoration: none;}
.content .confirm_btn a { text-decoration: none;  font-size: 14px;  color: #fff;  background: #F7921A;  border: 1px solid #8b847e;
  padding: 5px 30px; width: 176px; margin-bottom: 15px;   margin-top: 5px;  display: inline-block;  border-radius: 5px;}
.content p.about_text { margin-bottom: 0px; display: inline-block;  margin-top: 20px; font-size: 16px;  color: #656565; line-height: 20px;  font-weight: 400;}
.content p.about_text a { text-decoration: underline; color: #656565;}
footer {  margin: 0 auto; text-align: center; width: 100%;  display: inline-block;}
footer p {  color: #e1e1e1; font-size: 10px;  line-height: 20px;  padding: 20px 80px; margin-bottom: 0}
footer p span { font-size: 16px;  position: relative; top: 2px;}


</style>
</head>

<body>
<div class="main">
  <div class="logo"> <a href="https://greyrally.com/" >GREYRALLY</a> </div>
  <div class="content">
    <table width="100%" border="0" align="center">
      <tbody>
        <tr>
          <td colspan="2"><h2>Well done. <br />
You’ve sold an auction!</h2></td>
        </tr>
        <tr>
          <td colspan="2"><a class="email_logo" href="#"><img alt="" ssrc="cid:btc"></a></td>
        </tr>
        <tr>
          <td colspan="2"><p class="body_text">Your winnings are <br />
automatically deposited into  <br />
your GREYRALLY wallet.</p></td>
        </tr>

         <tr>
      <td width="25%" style="text-align: left; font-weight: 400; font-size: 14px; color: #656565" > Price: </td>
        <td width="75%" style="text-align: left; font-weight: 400; font-size: 14px; color: #f7921a" > 0.0023 BTC</td>
      </tr>

        <tr style="vertical-align: top;" >
          <td width="25%" style="text-align: left; font-size: 14px; font-weight: 400; color: #656565" > Title: </td>
          <td width="75%" style="text-align: left; font-size: 14px; font-weight: 400; color: #000" > This is the auction title that
might be 2 lines. </td>
        </tr>

      <tr>
        <td colspan="2"><p class="about_text">

You can see all of your winnings
in <a href="">My Wallet.</a>

           </p></td>
      </tr>
      </tbody>

    </table>
  </div>
  <footer>
    <p>2018 <span>©</span> GREYRALLY <br />
      All rights reserved</p>
  </footer>
</div>
</body>

</html>
